# Ignore Python bytecode files
__pycache__/

# Ignore JSON files
*.json

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg

# Ignore image directories
images/

# Ignore others
*.ipynb
*.lprof
*.zip
*.env